<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf" th:content="${_csrf.token}" />
	<meta name="_csrf_header" th:content="${_csrf.headerName}" />
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script th:src="@{/js/main.js}" defer="defer"></script>
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <title>profile</title>
</head>
<body>
<div class="top">
	<div class="logo">
    	<a href="/profile"><img src="../img/logo.png"></a>
    </div>
    <a href="/edit" class="edit"><img src="../img/edit.png" onclick='this.src="../img/editRed.png"'></a>
</div>

<!---Разметка для модального окна---->	
<div id="iw-modal" class="iw-modal">
	<div class="iw-modal-wrapper">
    	<form id="newMessage" class="message">
        	<div class="redLineMes">
            	<div class="nameLoginMessage">
                <div class="to" th:text="#{to}"></div>
                <div id="firstName" class="firstName" th:text="${user.firstName}"></div>
                <div id="lastName" th:text="${user.lastName}"></div>
            	</div>
                <div id="login" class="login" th:text="@{@} + ${user.login}"></div>
                <img id="cls" class="delete" src="../img/x.png"> 	
            </div>
            <div>
            	<input type="text" class="subject" th:placeholder="#{subject.holder}"> <span id="errorsMessage"></span>    
                <textarea id="textMes" maxlength="300" th:placeholder="#{text.holder}"></textarea>
            </div>
            <div class="butSentMes">
            	<a id="butsentMes"  th:text="#{buttom.sent}" href="#sent"></a>
        	</div>
  		</form>
  	</div>	
</div>
<div class="parrent">
    <div class="container">
        <div class="profile">
        	<p id="id" hidden th:text="${user.id}">
                <div class="profilePhoto">
                    <img th:src="@{/avatar/big/} + ${user.login}" height="200" width="200" class="foto">
                </div>
                <div class="profileInfo">
                    <div class="nameLogin">
                        <div id="name" th:text="${user.firstName} + @{ } + ${user.lastName}"></div>
                        <div id="login" class="login" th:text="@{@} + ${user.login}"></div>
                    </div>
                    <div class="emailDate">
                        <div id="email" th:text="${user.email}"></div>
                        <div id="dateHB" th:text="${#dates.format(user.dateBirthday, 'dd.MM.yyyy')}"></div>
                    </div>
                    <div class="moreInfo">
                        <div style="display:none" id="blockInfo">
                            <div id="city"><div id="information" th:text="#{city.holder} + @{:}"></div><div id="cityInf" th:text="${user.city}"></div></div>
                            <div id="education"><div id="information" th:text="#{education.holder} + @{:}"></div><div id="educationInf" th:text="${user.education}"></div></div>
                            <div id="hobby"><p id="information" th:text="#{hobby.holder} + @{:}"></p><li id="hobbyInf" 
                            												th:each="hob, st : ${user.userHobbies}">
                            												<p th:text="${hob.nameHobby} + @{ }"></p></li></div>
                        </div>
                        <label id="openInfo" class="hideInf" th:text="#{profile.moreInfo}"></label>
                        <br/>
                        <br/>
                    </div>
                </div>
                <div class="butMain">
                        <div class="butFriend"><a id="butFriend" th:href="@{/} + ${user.id} + @{/friendlist}">friend list</a></div>
                        <!--  <div th:if="${createNews} == true" id="iw-modal-btn" class="butFriend" style="overflow:hidden;" th:text="#{buttom.message}"></div> -->
                        <div class="butFriend"><a id="butFriend" href="/search">search</a></div>
                        <div class="butFriend"><a id="butFriend" href="/message">message</a></div>
                        <div th:if="${friends} == false" id="addFriend" class="butFriend" style="overflow:hidden;">добавить</div>
                </div>
        </div>

        <div class="news">
            <div class="search">
                <input class="inputForm" id="userFilter" type="text" th:placeholder="#{text.holder}">
				<input class="inputFormBut"type="button" id="test" value="search">
            </div>
            <ul>
                <li th:if="${createNews} == false">
                    <form id="newNews"  method="POST" enctype="multipart/form-data" class="createNews" >
                        <div id="redLine">
                            <div id="name" th:text="${user.lastName} + @{ } + ${user.firstName}"></div>
                            <div id="login" class="login" th:text="@{@} + ${user.login}"></div>
                        </div>
                        
                        <div class="fieldNews">
                        	<input type="text" id="idAuthor" name="idAuthor" hidden th:value="${user.id}"></input>
                        	<span id="errorSpan"></span>
                            <textarea name="newNewsText" id="textNews" class="newNewsTextArea" maxlength="300"></textarea>
                            <img id="newsCreateImg" src="" alt="" class="newsImg">
                            <div class="buttomsNews">
                                
                                    <div class="radio-container">
                                        <div class="form-item radio-btn nth-2">
                                            <input type="radio" name="radname1" id="radio1" checked value="everyone">
                                            <label id="labelRadio1" for="radio1" th:text="#{buttom.forEveryone}"></label>
                                        </div>
                                        <div class="form-item radio-btn nth-2">
                                            <input type="radio" name="radname1"  id="radio2" value="friends">
                                            <label id="labelRadio2" for="radio2" th:text="#{buttom.forFriends}"></label>
                                        </div>
                                    </div>
                                <div class="left">
                                	<div class="input_file, addFoto">
                                		<p>ADD PHOTO</p>
                    					<input type="file" name="files" class="hid">
                    				</div>
                                    

                                    <div class="tags">
                                        <div class="redTags" th:text="#{tags.holder} + @{:}"></div>
                                        <div><input id="tagsNewNews" class="notRedTags" type="text" th:placeholder="@{#} + #{tags.holder}"></div>
                                    </div>
                                </div>

                                <div class="right">
                                    <div id="submitNewNews" class="create">
                                        <a id="crt" href="#" th:text="#{buttom.create}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </li>
                <li style="display:none">
                        <div id="pressetNews" class="newsnews" >
                            <div id="redLine">
                                <div class="nameLog">
                                    <div id="nameAuthor" ></div>
                                    <div id="loginAuthor" class="login"></div>
                                </div>
                                <div th:if="${otherUser} == false" class="buttonEditDelete" id="butEditDel">
                                    <a id="butEditDel" class="butEdit" th:text="#{buttom.edit} + @{|}"></a>
                                    <a id="butEditDel" class="deleteNews" th:text="#{buttom.delete}"><img class="newsIcon" src="../img/x.png"></a>
                                </div>
                            </div>

                            <div class="newsContent">
                            <span id="errorSpan"></span>
                                <pre>	
                            	</pre>
                            	<img class="newsImg" alt=" ">
                            </div>

                            <div class="bot">
                                <div class="fieldInfo">
                                    <div class="leftField">
                                        <div id="date"></div>
                                        <div id="levelView" th:text="#{buttom.forFriends}"></div>
                                        <div id="tags"></div>
                                    </div>
                                    <div class="buttomComment">
                                            <a id="butCom" href="#comment" th:text="#{buttom.comment}"><img class="newsIcon" src="../img/circle.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul id="commentList">
                        	<li style="display:none">
                        		<div id="createNewComments" class="comments">
                                    <div class="topCom">
                                        <textarea class="textAreaComCont"></textarea>
                                    </div>
                                 
                                <div class="botCom">
                                    <div class="nameLogCom">
                                        <div id="login" th:text="@{@} + ${user.login}"></div>
                                    </div>
                                    <a id="butComCreate" class="butComCreate" th:text="#{buttom.create}"><img class="newsIcon" src="../img/circle.png"></a>
                                </div>
                                </div> 
                        	</li>
                            <li id="pressetComment">
                                <div class="comments">
                                    <div class="topCom">
                                    	<span id="errorSpan"></span><br>
                                        <div class="comCont">
                                        </div>
                                    </div>  
                                    <div class="botCom">
                                        <div id="dateCom"></div>
                                        <div class="nameLogCom">
                                            <div id="loginCom" class="login"></div>
                                        </div>
                                        <div>
                                        <a id="butComCreate" class="saveOldComment" style="display:none" th:text="#{buttom.save}"><img class="newsIcon" src="../img/circle.png"></a>
                                        <a id="butComCreate" class="editOldComment" style="display:block" th:text="#{buttom.edit}"><img class="newsIcon" src="../img/circle.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                <ul id="newsList">
                    <li th:each="new1, st: ${news}">
                        <div th:id="${new1.id}" class="newsnews" >
                            <div id="redLine">
                                <div class="nameLog">
                                    <div id="name" th:text="${user.lastName} + @{ } + ${user.firstName}"></div>
                                    <div id="login" class="login" th:text="@{@} + ${new1.author.login}"></div>
                                </div>
                                <div th:if="${otherUser} == false" class="buttonEditDelete" id="butEditDel">
                                    <a id="butEdit" class="butEdit" th:text="#{buttom.edit} + @{|}"></a>
                                    <a id="butDel" class="deleteNews" th:text="#{buttom.delete}"><img class="newsIcon" src="../img/x.png"></a>
                                </div>
                            </div>

                            <div class="newsContent" >
                            	<span id="errorSpan"></span>
                            	<pre th:text="${new1.text}">
                           			
                            	</pre>
                                <img th:src="@{/news/image/} + ${new1.imageToken}" class="newsImg" alt=" " onerror="this.style.visibility = 'hidden'">
                            </div>

                            <div class="bot">
                                <div class="fieldInfo">
                                    <div class="leftField">
                                        <div id="date" th:text="${#dates.format(new1.newsDate, 'dd.MM.yy')}"></div>
                                        <div id="levelView" th:if="${new1.forFriends} == true" th:text="#{buttom.forFriends}"></div>
                                        <div id="tags" ><a th:each="tag : ${new1.tags}" th:text="@{#} + ${tag.name} + @{ }"></div>
                                    </div>
                                    <div class="buttomComment">
                                            <a id="butCom" href="#comment" th:text="#{buttom.comment}"><img class="newsIcon" src="../img/circle.png"></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <ul>
                        	<li style="display:none">
                        		<div id="createNewComments" class="comments">
                                    <div class="topCom">
                                    	<span id="errorSpan"></span>
                                        <textarea class="textAreaComCont"></textarea>
                                    </div>
                                 
                                	<div class="botCom">
                                    	<div class="nameLogCom">
                                        	<div id="login" th:text="@{@} + ${userAut.login}"></div>
                                    	</div>
                                    <a id="butComCreate" class="butComCreate" th:text="#{buttom.create}"><img class="newsIcon" src="../img/circle.png"></a>
                                	</div>
                                </div> 
                        	</li>
                            <li th:each="comment, st: ${new1.comments}">
                                <div th:id="${comment.id}" class="comments">
                                    <div class="topCom">
                                    	<span id="errorSpan"></span>
                                        <div class="comCont" th:text="${comment.text}"></div>
                                    </div>  
                                    <div class="botCom">
                                        <div id="dateCom" th:text="${#dates.format(comment.commentDate, 'dd.MM.yy')}"></div>
                                        <div class="nameLogCom">
                                            <div id="login" th:text="@{@} + ${comment.commentator.firstName}"></div>
                                        </div>
                                        <div th:if="${userAut.id} == ${comment.commentator.id}">
                                        <a id="butComCreate" class="saveOldComment" style="display:none" th:text="#{buttom.save}"><img class="newsIcon" src="../img/circle.png"></a>
                                        <a id="butComCreate" class="editOldComment" style="display:block" th:text="#{buttom.edit}"><img class="newsIcon" src="../img/circle.png"></a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    </div>
    <div class="bottom"></div>
</body>
</html>