* {
    margin: 0;
	padding: 0;
}

body {
    background-attachment: fixed;
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

form {
	opacity: 0.8;
    background:white;
    width: 350px;
    height: 150px;
    border-radius:50px;
	padding: 40px;
    position: absolute;
    top: 50%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.A {
	color: #e74c3c;
	margin-left: 10px;
}

span {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fafafa;
    font-size: 64px;
}

.title {
    background-color: #3B3B3B;
}